@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --dark-gray: #1f1f1f;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8f8f8f;
    --light-gray-2: #cccccc;
    --light-gray-3: #f5f5f5;
    --white: #ffffff;
    --primary: #c92071;
    --secondary: #b5b6f2;
    --tertiary: #991956;
    --error: #ee4266;
    --success: #52ca76;
    --warning: #f6aa1c;
    --fundo-padrao: #f9f8fe;
}

/* Header (início) */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 34px 104px 40px 104px;
    align-items: center;
}

header .logo {
    display: flex;
    gap: 8px;
    color: var(--primary);
    margin-right: 27px;
    align-items: center;
    cursor: pointer;
}

header .logo:hover {
    color: var(--tertiary);
}

header .logo img {
    width: 33px;
    height: 33px;
}

header .logo h1 {
    font-size: 36.4px;
    line-height: 44px;
    letter-spacing: -1px;
}

header .pesquisar {
    display: flex;
    align-items: center;
    flex: 1;
}

header .pesquisar input {
    height: 60px;
    width: 100%;
    min-width: 200px;
    background-color: #47474704;
    padding: 16px 24px;
    border-radius: 8px;
}

header .pesquisar i {
    margin-left: -38px;
    width: 18px;
    color: var(--dark-gray-3);
    cursor: pointer;
}

header .pesquisar i:hover {
    color: var(--primary);
}

header .botoes {
    display: flex;
    align-items: center;
}

header .botoes a {
    margin-left: 48px;
    color: var(--dark-gray-2);
    text-decoration: underline;
    letter-spacing: 0.75px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

header .botoes a:hover {
    color: var(--primary);
    font-weight: 700;
}

header .botoes button {
    margin-left: 30px;
    background-color: var(--primary);
    color: var(--white);
    width: 114px;
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    cursor: pointer;
}

header .botoes button:hover {
    background-color: var(--tertiary);
}

header .botoes i {
    margin-left: 72.75px;
    color: var(--primary);
    width: 18.5px;
    cursor: pointer;
}

header .botoes i:hover {
    color: var(--tertiary);
}

header .balao {
    width: 17px;
    height: 17px;
    background-color: var(--error);
    color: var(--white);
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    margin-left: -6px;
    margin-top: -15px;
}

header .menu {
    margin-top: 40px;
    width: 100%;
}

header .menu nav ul {
    display: flex;
    gap: 32px;
}

header .menu nav ul li {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2);
}

header .menu nav ul li:hover,
header .menu nav ul li.active {
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    cursor: pointer;
}

header .menu nav ul li.active {
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--primary);
    border-radius: 2px;
}
/* Header (fim) */

/* Section --> banner (início) */
#banner {
    background-color: var(--light-gray-3);
    min-height: 681px;
    padding-left: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banner .destaque{
    max-width: 520px;
}

#banner h5 {
    padding-top: 124px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: var(--warning);
}

#banner h1 {
    padding-top: 20px;
    font-weight: 800;
    font-size: 64px;
    line-height: 66px;
    letter-spacing: 1px;
    color: var(--dark-gray);
}

#banner p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2);
    /* max-width: 495px; */
}

#banner button {
    width: 220px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: var(--light-gray-3);
    cursor: pointer;
}

#banner button:hover {
    background-color: var(--tertiary);
}

#banner .tenis {
    padding-top: 124px;
}

#banner .tenis img {
    max-width: 100%;
}

#banner .bolinhas img {
    padding-right: 37px;
    padding-top: 78px;
}

#banner .paginacao {
    width: 100%;
}

#banner .paginacao ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-bottom: 53px; */
}

#banner .paginacao ul li {
    background-color: var(--light-gray-2);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

#banner .paginacao ul .active {
    background-color: var(--primary);
}
/* Section --> banner (fim) */

/* Section --> oferta (início) */
#oferta {
    display: flex;
    margin-right: 104px;
}

#oferta .card {
    width: 466px;
    min-height: 466px;
    margin: 87px 97px 0px 129px;
    border-radius: 50%;
    background: linear-gradient(180deg, #4200ff25 -40.67%, #ffffff);
}

#oferta .card img {
    position: relative;
    width: 573px;
    height: 330px;
    margin-left: -77px;
    margin-top: 28px;
}

#oferta .conteudo h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: var(--primary);
    padding-top: 106px;
    padding-bottom: 17px;
}

#oferta .conteudo h1 {
    font-weight: 700;
    font-size: 48px;
    /* width: 514px; */
    line-height: 50px;
    letter-spacing: 1px;
    color: var(--dark-gray-2);
    padding-bottom: 20px;
}

#oferta .conteudo p {
    font-weight: 400;
    font-size: 16;
    /* width: 588px; */
    line-height: 28px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2);
    padding-bottom: 30px;
}

#oferta .conteudo button {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

#oferta .conteudo button:hover {
    background-color: var(--tertiary);
}
/* Section --> oferta (fim) */

/* Footer (início) */
footer {
    min-height: 454px;
    padding: 72px 104px 22px 104px;
    background-color: var(--dark-gray);
}

footer .conteudo {
    display: flex;
    flex-wrap: wrap;
}

footer .conteudo > div {
    flex: 1;
}

footer .conteudo .logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer .conteudo .logo h3 {
    color: var(--white);
    font-weight: 600;
    font-size: 36.4px;
    line-height: 44px;
    letter-spacing: -0.01em;
}

footer .conteudo p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--white);
    width: 307px;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-right: 20px;
}

footer .conteudo .redeSocial {
    display: flex;
    gap: 36px;
    font-size: 20.5px;
    color: var(--white);
}

footer .conteudo .redeSocial a {
    color: var(--white);
}

footer .conteudo .redeSocial a:hover {
    color: var(--primary);
}

footer .conteudo h5 {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

footer .conteudo .links ul {
    margin-top: 28px;
}

footer .conteudo .links li {
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    width: 231px;
}

footer .conteudo .links li,
footer .conteudo .links li a {
    color: var(--white);
}

footer .conteudo .links a:hover {
    color: var(--primary);
    font-weight: 700;
}

footer .conteudo .links .endereco {
    line-height: 26px;
}

footer .copyright {
    width: 100%;
    border-top: 1px solid #ffffff30;
    margin-top: 34px;
    text-align: center;
}

footer .copyright p {
    font-weight: 400;
    line-height: 24px;
    font-size: 13px;
    color: var(--white);
    padding-top: 23px;
    padding-bottom: 22px;
}
/* Footer (fim) */

